
@import "./Home.css";
@import "/cart.css";
@import "./loginpage.css";
@import "./product.css";
@import "./wishlist.css";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --card-background:rgb(244, 51, 151);
    --secondary-background:rgb(247,247,247);
    --grey-color:rgb(138, 136, 136);
    --divider-color:rgb(153, 153, 153);
    --white-background:white;
    --text-overlay-background:rgb(88, 84, 84);
    --black-background:black;
    --main-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
    --primary-color:rgb(83, 83, 221);
    --btn-background-color:rgb(235, 229, 229);
    --white:rgb(248, 247, 247);
    --nav-background:rgb(252,250,250);
    --main-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
    --white:rgb(248, 247, 247);
}