:root{
    --main-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
    --grey-color:rgb(138, 136, 136);
    --primary-color:rgb(83, 83, 221);
    --card-background:rgb(244, 51, 151);
    
    --btn-background-color:rgb(235, 229, 229);
    --white:rgb(248, 247, 247);
    --nav-background:rgb(252,250,250);
    --card-buying-background:#f1f1f1;
}
*{
    font-family: sans-serif;
}
.card-img{
    height: 14.3rem;
    width: 14rem;
}
.card-container{
    margin: 1rem 12rem;

}
.card-container-heading{
    text-align: center;

}

.minus-icon{
    position: relative;
    top: 5px;
    font-size: 10px;
}
.quantity{
    font-size: 1rem;
}
.material-icons.md-18 {
     font-size: 18px; 
     position: relative;
     top: 3px;
}
.card-component{
    display: flex;

    box-shadow:var(--main-box-shadow);
    width: 28rem;
    height:14.3rem;
    border-radius: 4px;
}
.card-detail{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-button{
   
    display: flex;
    flex-direction: column;
    
}
.btn{
    width: 11rem;
    height: 2rem;
    background-color: var(--card-background);
    color: var(--white);
    font-size: 1rem;
    padding: 2px;
    border-radius: 2px;
    border: none;
    margin: 2px;
}

.card-inner-container{
    display: flex;
    gap: 3rem;
}
.card-buying-container{
    background-color: var(--card-buying-background);
}
.card-buying-inner-container{
    margin: 1rem;
    
}
.card-buying-detail{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.price,.discount,.delivery,.total-amount{
    display: flex;
    justify-content: space-between;
}
.place-order-btn{
     background-color: var(--card-background);
     color: var(--white);
     border: none;
     padding: 0.5rem 0rem;
     font-weight: 600;
     border-radius: 3px;
}
